html {
  font-size: 12px;
}
body {
  font-family: 'kertayasaregular', "Times New Roman", serif;
}
/* Reduce font size */
@media only screen and (min-width: 768px){
  html {
    font-size: 14px;
  }
}

/* posts image (featured image) invisible below 940px */
@media only screen and (min-width: 941px) {
  .post-image-holder {
    display: block;
  }

}
/* post image (featured image) visible from 940px */
@media only screen and (max-width: 940px) {
  .post-image-holder {
    display: none;
  }
}

/* posts image mobile version below 720px */
/* posts image mobile version invisible */
@media only screen and (min-width: 721px) {
  .post-image-mobile-holder {
    display: none;
  }
}
/* posts image mobile version visible */
@media only screen and (max-width: 720px) {
  .post-image-mobile-holder {
    display: block;
  }
  .comment-form-comment textarea { /* Change comment area size */
    width: 85%;
  }
}

/* main blog post full width to screen below 992px */
@media only screen and (max-width: 992px) {
  .main {
    max-width: 100%;
  }
  .jumbotron-image {
    width: 50% !important;
  }
  .uap-logo-nav {
    width: 10%;
  }
}

/* widget move from right hand side to bottom */
/* widget on right hand side invisible */
@media only screen and (max-width: 822px) {
  .widget-right {
    display: none;
  }
  .widget-bottom {
    display: block;
  }
  .widget-footer .col {
    flex-basis: 100%;
  }
  .widget-footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
/* widget on right hand size visible */
@media only screen and (min-width: 823px) {
  .widget-right {
    display: block;
  }
  .widget-bottom {
    display: none;
  }
  .widget-footer .col {
    flex-basis: 0;
  }
}

/* change menu display below 491px */
@media only screen and (max-width: 490px) {
  .menu-desktop {
    display: none !important;
  }
  .menu-mobile {
    display: block;
  }
  .uap-logo-nav {
    width: 15%;
  }
  .comment-form-comment textarea {
    width: 100%;
  }
}

@media only screen and (min-width: 491px) {
  .menu-desktop {
    display: block;
  }
  .menu-mobile {
    display: none;
  }
}


@media (max-width: 625px) {
  .menu-desktop {
    display: block;
  }
}

/* Jumbotron Image and Jumbo Block width on 1010px */
@media only screen and (min-width: 1011px) {
  .jumbotron-image {
    display: none;
  }
  .jumbo-block {
    max-width: 70%;
  }
  .comment-form-comment textarea {
    width: 70%;
  }
}

@media only screen and (max-width: 1010px) {
  .jumbotron-image {
    display: block;
    width: 30%;
  }
  .jumbotron .container {
    background-image: url('../assets/brone_bac.png');
    background-image: none !important;
    /* background-size: 320px;
    background-repeat: no-repeat;
    background-position: right; */
    height: auto !important;
    /* margin-left: 4rem; */
  }
  .jumbo-block {
    max-width: 100%;
  }
}

@media (max-width: 1197px) and (min-width: 626px) {
  .top-nav {
    border-bottom: none !important;
  }
  .menu-desktop {
    display: none;
  }
}

@media (min-width: 1198px) {
  .nav-scroller {
    display: none;
  }
}

@media (max-width: 625px) {
  .nav-scroller {
    display: none;
  }
}

#collapseOne {
  margin-top: 5px;
}

.btn-menu-mobile {
  border-radius: 0;
}

.btn-menu-chev {
  max-width: 50px;
}

.btn-group-menu {
  border: 1px #343a40 solid;
}

.menu-mobile {
  margin-top: 1rem;
  width: 100%;
}

.jumbotron {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: inherit;
}

.jumbotron .container {
  background-image: url('../assets/brone_bac.png');
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: right;
  /* height: 350px; */
  /* margin-left: 4rem; */
}

.jumbo-block {
  /* max-width: 70%; */
}

.jumbotron-image {
  margin-left: auto;
  margin-right: auto;
}

.post {
  margin-top: 1rem;
}

.post-image-holder {
  padding-left: 0;
  overflow: hidden;
}

.post-image-holder img{
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.post-link {
  color: black;
}

.post-link:hover {
  text-decoration: none;
  color: black;
}

.btn-post {
  margin-top: 1rem;
}

.main {
  margin-bottom: 2rem;
}

.footer {
  background-color: #DFE6E9;
}

.widget .card {
  margin-top: 1rem;
}

.card-link {
  color: #2D3436;
}

.card-link:hover {
  color: inherit;
  text-decoration: underline;
}

.link-style-none:hover {
  text-decoration: none;
}

.post-image-holder .size-post-thumbnail {
  width: 200px;
  height: 200px;
}

.dropdown .btn:focus {
  box-shadow: none;
}

.col .dropdown .dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
}

.nav-menu {
  margin-right: 0rem;
}

.dropdown-nav {
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}

.comment-form-comment label {
  clear: both;
  float: left;
}

.comment-form-comment textarea {
  clear: both;
  float: left;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-family: inherit;
}

.comment-form-comment {
  width: 100%;
  display: block;
  clear: both;
  float: left;
}

.form-submit {
  clear: both;
  float: left;
}

.widget-footer {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #2D3436;
}

.widget-footer .card-link {
  color: #fff;
}

.card-footer {
  color: #fff;
  padding: 0;
  border: 0;
  /* height: 100%; -> commented out error on mobile iPhone and Chrome */
  background-color: inherit;
}

.post-image-mobile-holder .size-post-thumbnail {
  width: 100%;
  height: 100%;
}

.mobile-menu-button {
  width: 100%;
  border-radius: 0;
  margin-bottom: 0.2rem;
}

.mobile-menu-card {
  border-radius: 0;
  border: 0;
  padding: 0;
  padding-top: 0.5rem;
}

.btn-outline-uap {
  color: #000;
  border-color: #FDD929;
  border-width: .15rem;
}

.btn-outline-uap:hover {
  color: #000;
  background-color: #FDD929;
  border-color: #FDD929;
}

.btn-outline-uap:focus {
  box-shadow: 0 0 0 .2rem rgba(253,217,41,0.25);
}

.btn-uap {
  color: #000;
  background-color: #FDD929;
  border-color: #FDD929;
}

.btn-uap:hover {
  color: #000;
  background-color: #e3c324;
  border-color: #e3c324;
}

.btn-uap:focus {
  box-shadow: 0 0 0 .2rem rgba(253,217,41,0.25);
}

.comment-form-author input {
  display: block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
  padding: .375rem .75rem;
}

.comment-form-email input {
  display: block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
  padding: .375rem .75rem;
}
.comment-form-url input {
  display: block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
  padding: .375rem .75rem;
}

.comment-form-cookies-consent input {
  display: inline-block;
  margin-right: .5rem;
}

/* Nav Scroller */

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.nav-scroller .row {
  margin-left: 1rem;
}
