html {
  font-size: 12px;
}
body {
  font-family: 'kertayasaregular';
}
@media only screen and (min-width: 768px){
  html {
    font-size: 14px;
  }
}

/* posts image invisible below 940px */
@media only screen and (min-width: 941px) {
  .post-image-holder {
    display: block;
  }

}

@media only screen and (max-width: 940px) {
  .post-image-holder {
    display: none;
  }
}

/* posts image mobile version below 720px */
@media only screen and (min-width: 721px) {
  .post-image-mobile-holder {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .post-image-mobile-holder {
    display: block;
  }
}

/* main blog post full width to screen below 992px */
@media only screen and (max-width: 992px) {
  .main {
    max-width: 100%;
  }
  .jumbotron-image {
    width: 50% !important;
  }
  .uap-logo-nav {
    width: 10%;
  }
}

/* widget move from right hand side to bottom */
@media only screen and (max-width: 822px) {
  .widget-right {
    display: none;
  }
  .widget-bottom {
    display: block;
  }
  .widget-footer .col {
    flex-basis: 100%;
  }
  .widget-footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media only screen and (min-width: 823px) {
  .widget-right {
    display: block;
  }
  .widget-bottom {
    display: none;
  }
  .widget-footer .col {
    flex-basis: 0;
  }
}

/* change menu display below 491px */
@media only screen and (max-width: 490px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .uap-logo-nav {
    width: 15%;
  }
}

@media only screen and (min-width: 491px) {
  .menu-desktop {
    display: block;
  }
  .menu-mobile {
    display: none;
  }
}

/* Jumbotron Image and Jumbo Block width on 1010px */
@media only screen and (min-width: 1011px) {
  .jumbotron-image {
    display: none;

  }
  .jumbo-block {
    max-width: 70%;
  }
}

@media only screen and (max-width: 1010px) {
  .jumbotron-image {
    display: block;
    width: 30%;
  }
  .jumbotron .container {
    background-image: url('../assets/brone_bac.png');
    background-image: none !important;
    /* background-size: 320px;
    background-repeat: no-repeat;
    background-position: right; */
    height: auto !important;
    /* margin-left: 4rem; */
  }
  .jumbo-block {
    max-width: 100%;
  }
}

#collapseOne {
  margin-top: 5px;
}

.btn-menu-mobile {
  border-radius: 0;
}

.btn-menu-chev {
  max-width: 50px;
}

.btn-group-menu {
  border: 1px #343a40 solid;
}

.menu-mobile {
  margin-top: 1rem;
  width: 100%;
}

.jumbotron {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: inherit;
}

.jumbotron .container {
  background-image: url('../assets/brone_bac.png');
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: right;
  height: 350px;
  /* margin-left: 4rem; */
}

.jumbo-block {
  /* max-width: 70%; */
}

.jumbotron-image {
  margin-left: auto;
  margin-right: auto;
}

.post {
  margin-top: 1rem;
}

.post-image-holder {
  padding-left: 0;
  overflow: hidden;
}

.post-image-holder img{
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.post-link {
  color: black;
}

.post-link:hover {
  text-decoration: none;
  color: black;
}

.btn-post {
  margin-top: 1rem;
}

.main {
  margin-bottom: 2rem;
}

.footer {
  background-color: #DFE6E9;
}

.widget .card {
  margin-top: 1rem;
}

.card-link {
  color: #2D3436;
}

.card-link:hover {
  color: inherit;
  text-decoration: underline;
}

.link-style-none:hover {
  text-decoration: none;
}

.post-image-holder .size-post-thumbnail {
  width: 200px;
  height: 200px;
}

.dropdown .btn:focus {
  box-shadow: none;
}

.col .dropdown .dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
}

.nav-menu {
  margin-right: 0rem;
}

.dropdown-nav {
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}

.comment-form-comment label {
  clear: both;
  float: left;
}

.comment-form-comment textarea {
  clear: both;
  float: left;
  width: 70%;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  font-size: 1rem;
}

.comment-form-comment {
  width: 100%;
  display: block;
  clear: both;
  float: left;
}

.form-submit {
  clear: both;
  float: left;
}

.widget-footer {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #2D3436;
}

.widget-footer .card-link {
  color: #fff;
}

.card-footer {
  color: #fff;
  padding: 0;
  border: 0;
  /* height: 100%; -> commented out error on mobile iPhone and Chrome */
  background-color: inherit;
}

.post-image-mobile-holder .size-post-thumbnail {
  width: 100%;
  height: 100%;
}

.mobile-menu-button {
  width: 100%;
  border-radius: 0;
  margin-bottom: 0.2rem;
}

.mobile-menu-card {
  border-radius: 0;
  border: 0;
  padding: 0;
  padding-top: 0.5rem;
}

.btn-outline-uap-green:hover {
  color: #fff;
  background-color: #0E694E;
  border-color: #0E694E;
}

.btn-outline-uap-green {
  color: #0E694E;
  border-color: #0E694E;
}

.btn-outline-uap-green:focus {
  box-shadow: 0 0 0 .2rem rgba(14,105,78,0.25);
}

.btn-uap-green:hover {
  color: #fff;
  background-color: #094936;
  border-color: #094936;
}

.btn-uap-green {
  color: #fff;
  background-color: #0E694E;
  border-color: #0E694E;
}

.btn-uap-green:focus {
  box-shadow: 0 0 0 .2rem rgba(14,105,78,0.25);
}
